$main-color: #fff;
$secondary-color: #000;
$color-green: #ccd4bf;
$color-red: #eebab2;
$color-orange: #e7cba9;
$color-success: #06d85f;
$hover-color: rgba($secondary-color, 0.4);

$font-main: "Lato", sans-serif;
$font-secondary: "Zilla Slab", serif;

$heart-color: #e31b23;
